
@media (max-width: 575.98px) {
        .manu ul li a {
        margin: 0 32px;
        }
        .banner{
    	padding: 0;
        }
        .btn_don1 {
        margin-bottom: 20px;
        padding: 10px 30px;
        padding-left: 80px;
        padding-right: 80px;
        }   
         .b2_h2 {
        margin-bottom: 3px;
        }
        .b2_p{
        padding-bottom: 0px;}  
        .img-box img {
        margin-top: 20px;
        }  

 }

@media (min-width: 576px) and (max-width: 767.98px) { }

@media (min-width: 768px) and (max-width: 991.98px) {
        .manu ul li a {
        margin: 0 30px;
        }
        .btn_don1 {
         margin-bottom: 20px;
         padding: 10px 30px;
         padding-left: 80px;
         padding-right: 80px;
        }
        .banner{
	    padding: 0;
        }
        .b2_h2 {
        margin-bottom: 0px;
        }
        .b2_p{
        padding-bottom: 0px;}
        }
        .issues_h1{
        margin-top: 0px;
        }
         .issues_p{
        margin-top: 0px;
        }
        .news_h1 {
         margin-top: 30px;
        }

@media (min-width: 992px) and (max-width: 1199.98px) { 
        .manu ul li a {
        margin: 0 22px;
         }
         .b2_h2 {
         color: #000;
         margin-bottom: 0;
        }

 }

@media (min-width: 1200px) and (max-width:1399.98px) { }
 @media (min-width: 1400px) {}
